
.container__gallery {
    width: 80%;
    padding: 75px 0;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 0.8s ease;
}
.item:hover {
    flex: 2;
}

.item-1 {
    background-image: url("../images/metr.png");
}

.item-2 {
    background-image: url("../images/chatsConfig.jpg");
}

.item-3 {
    background-image: url("../images/rating.png");
}

.item-4 {
    background-image: url("../images/vki.jpg");
}

.item-5 {
    background-image: url("../images/gt_3.jpg");
}
